@media (max-width: 1200px) {    
.contact-container{
    flex-direction: column !important;
    align-items: center !important;
}
.contact-container-left{
    width: 70% !important;
    height: auto;
}
.contact-methods-container{
    flex-direction: row !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    height: auto;
}
}
@media (max-width: 650px) { 
    .contact-title{
        font-size: 20px !important;
    }
    .contact-paragraph{
        font-size: 15px !important;
    }
    .contact-container-row{
        padding: 5px !important;
    }
    .contact-container-left{
        width: 100% !important;
    }
    .contact-method p{
        font-size: 15px !important;
    }
}