*{
  font-family: 'Cairo', sans-serif !important;
  direction: rtl;
  margin: 0  ;
  padding: 0 ;
  box-sizing: border-box;
}

@media (max-width: 1300px) {
.about-section-container{
  flex-direction: column !important;
}
.about-section-container-left{
  width: 100% !important;
  margin-Bottom: 100px !important;
}
.about-section-container-right{
  width: 100% !important;
}
}

@media (max-width: 850px) {
  .landing-section{
    flex-wrap: wrap;
    flex-direction: column !important;
    align-items: start !important;
    height: auto !important;
    gap : 100px !important;
  }
  .landing-section-containers{
    width: 100% !important;
    height: auto !important;
  }
.landing-section-buttons{
  flex-direction: column !important;
  align-items: start !important;
}
.about-section{
}
}