@media (max-width: 1450px) {
    footer{
        height: auto !important;
        padding-top: 30vh !important;
    }
    .footer{
        flex-direction: column !important;
        padding-bottom: 2vh !important;
    }
    .footer li{
        font-size: 18px !important;
    }
    .footer p{
        font-size: 14px !important;
    }
}